
    
    <div class="container ">
        <div class="modal-content animate">
            <form asp-controller="login" asp-action="dangnhap" class="login">
                <h1>Đăng nhập</h1>

                <div class="form-group">
                    <label for="">User name:</label>
                    <input type="text" class="form-control" name="username" id="user">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn btn btn-danger">Cancel</button>
                <hr>
                <p> Nếu chứ có tài khoản hãy kích vào đây <a href="" class="float-right"> Đăng kí</a></p>
            </form>

        </div>
        


    </div>














